<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="enter from user">
        <input type="text" name="to" placeholder="enter to user">
        <textarea name="message"  cols="30" rows="10" placeholder="enter message"></textarea>
        <input type="date" name="date" placeholder="enter date">
        <button>submit</button>
    </form>
</body>
</html>