body{
    margin: 10px;
}
.chat{
    background-color: rgb(109, 184, 202);
    padding: 30px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;

}
.msg{
    background-color: rgb(21, 129, 179);
    padding: 10px;
    border-radius: 5px;
}